<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
<script>
    jQuery(function($){
   $("#phone").mask("+38(999) 999-9999");
   });
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<form action="{{ url_for('registration') }}" method="post">
    <select name="city">
        {% for c in city %}
            <option value="{{ c[0]}}">{{ c[1] }}</option>
        {% endfor %}
    </select><br>
    <input type="text" name="name" placeholder="fio" required><br>
    <input type="text" name="phone" id="phone" required><br>
    <input type="email" name="mail" placeholder="email" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="submit" value="registration">
</form>

</body>
</html>